@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');



*, 
*:before.
*:after {
	box-sizing:border-box;
}
body {
	margin:0;
	background:#EFD6D2;
	font-family:'Baloo Tammudu 2', sans-serif;
}

.container {
	width:100%;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
}
.calculator {
	width:320px;
	height:80vh;
	border-radius:1rem;
	border:1px solid black;
}

.display {
	width:100%;
	height:30%;
	padding:0;
	margin:0;
	background:#FFDDE2;
	display:flex;
	direction:rtl;
	border-top-left-radius:1rem;
	border-top-right-radius:1rem;
}

.keypad {
	width:100%;
	height:70%;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
	align-content:center;
}

.row {
	width:100%;
	height:100%;
	display:flex;
	border-radius:1rem;
}

button {
	font-size:1.5rem;
	width:100%;
	border:none;
	background:#FF8CC6;
	cursor:pointer;
}

.option, .operator, .answer {
	background:#DE369D;
}

.row:last-child > button:last-child {
	border-bottom-right-radius:1rem;
}

.row:last-child > button:first-child {
	border-bottom-left-radius:1rem;
	padding-left:0;
	padding-right:1.5rem;
}

p{
	margin: auto .5rem;
	font-size:3rem;

}

button:hover {
	font-size:2rem;
}
button:active {
}

@media (max-width:320px) {
	.calculator {
		width:50%;
		height:60vh;
	}
	button {
		font-size:1rem;
	}
	button:hover {
		font-size:1.5rem;
	}
	p {
		font-size:1rem;
	}
}
